:host {
  max-width: 300px;
  display: inline-flex;
}

div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  margin-right: 5px;
}

img {
  width: calc(100% - 20px);
  padding: 0;
  margin: 10px;
  display: block;
}
